
body{
	background: url("../img/bg2.jpg") center;
	background-size: cover;
	background-image: cover;
	width: 100%;
	height: 89%;
	min-height: 100%;
	z-index: -999;
	position: fixed;
}

#containerglobal{
	height: 100%;
	width: 100%;
	min-width: 100%;
	background: url("../img/bg2.jpg") center;
	background-size: cover;
	position: fixed;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}



#glob{
	padding-left: 0;
	border-left: 0;
	padding-top: 0%;
	width: 100%;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background: url("../img/bg2.jpg") center;
	background-size: cover;
	z-index: -1;
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
 }

	
	
#instant{
	position: fixed;
	width: 15%;
	margin-top: 0%;
	margin-right: 25%;
	background-color: white;
	border-color: #32CD32;
	border-width: 2px;
	height: 35%;
}

#instant2{
	position: fixed;
	width: 15%;
	margin-top: 0%;
	margin-right: 25%;
	background-color: transparent;
	border-width: 0px;
	height: 35%;
}



#arrosage_instantane{
	margin-top: 30px;
	font-size: 20px;
}
	
#arroser{
	height: 20%;
	width: 100%;
	border-color: #000000;
	border-width: 0.2px;
}

#cond{
	display: flex;
	align-items: center;
	height: 60%;
	position: fixed;
	margin-left: 25%;
	width: 20%;
	margin-top: 0%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
}

#cond2{
	display: flex;
	align-items: center;
	height: 35%;
	position: fixed;
	margin-left: 25%;
	width: 20%;
	margin-top: 0%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
}



#arrosage_conditionnel{
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
}



#pac{
	font-size: 20px;
	margin-left: 0%;
	font-family: "Calibri";
}


#valider{
	width: 35%;
	height: 8%;
	margin-top: 8%;
	border-color: 000000;
	border-width: 0.2px;
}

select{
	color: #228B22;
}

h2{
	font-family: "Montserrat", Gadget, sans-serif;
	text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);	
}


	
label{
	font-family:Garamond, serif;
}

h3{
	font-family:'MS Sans Serif', Geneva, sans-serif;
	background: -webkit-linear-gradient(#5b5b5c, #181818);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p{
	font-family:Garamond, serif;
}


/************************************************responsive************************************/

@media all and (max-width: 1024px)

{

   
body{
	background: url("../img/bg2.jpg") center;
	background-size: cover;
	background-image: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -999;
	position: fixed;
}
#instant{
	position:relative;
	margin-right:auto;
}
#cond{
	display: flex;
	align-items: center;
	height: 73%;
	position: absolute;
	margin-left: auto;
	width: 20%;
	margin-top: 7%;
	background-color:red;
	border-color:#32CD32;
	border-width:2px;
	
}

#valider{
	width: 35%;
	height: 8%;
	margin-top: -5%;
	margin-left:70%;
	border-color: 000000;
	border-width: 0.2px;
}




}

@media all and (max-width: 750px)

{
	#arrosage_instantane{
		
		font-size:13px;
	}
#arrosage_conditionnel{
		
		font-size:12px;
	}
	
	#pac{
		
		font-size:12px;
	}
	

body{
	
	background-size: cover;
	background-image: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -999;
	position: fixed;
}
#cond{
	display: flex;
	align-items: center;
	height: 73%;
	margin-left: 20%;
	height:60%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}

#valider{
	width: 35%;
	height: 8%;
	margin-top: -5%;
	margin-left:70%;
	border-color: 000000;
	border-width: 0.2px;
}




}

@media all and (min-width: 1000px)

{

   #arrosage_conditionnel{
	font-size: 20px;
	
	margin-bottom: 0;
	margin-top: 10%;
}

body{
	background: url("../img/bg2.jpg") center;
	background-size: cover;
	background-image: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -999;
	position: fixed;
}
#cond{
	display: flex;
	align-items: center;
	height: 72%;
	position: fixed;
	margin-top:5%;
	
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
}
#arrosage_instantane{
	
	
	align-items: center;
	margin-top:-9%;


	
	background-color:white;
	
	
}
#valider{
	width: 35%;
	height: 2%;
	margin-top:9%;
	margin-left:0.5%;
	border-color: 000000;
	border-width: 0.2px;
}

#instant{
	
	
	height:auto;
}



}


@media all and (min-width: 1440px)

{

  #cond{
	display: flex;
	align-items: center;
	height:65%;
	position: fixed;
	margin-left: 25%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
}

#valider{
	width: 25%;
	height: 8%;
	margin-top: 6%;
	margin-left:2%;
	border-color: 000000;
	border-width: 0.2px;
}
}

@media all and (max-height: 800px ){
	#instant{

	margin-right:50%;
}
#cond{
	display: flex;
	align-items: center;
	height: 70%;

	margin-left: 20%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}
	#arrosage_conditionnel{
		
		font-size:15px;
	}
	
	#pac{
		
		font-size:15px;
	}
	
	
	
	
}

@media all and (max-height: 720px){
	#instant{
	
	margin-right:55%;
}
#cond{
	display: flex;
	align-items: center;
	height: 68%;
	
	margin-left: 40%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}
	#arrosage_conditionnel{
		
		font-size:12px;
	}
	
	#pac{
		
		font-size:12px;
	}
	
	
	
	
	
}

@media all and (max-height: 520px){
	#instant{

	margin-right:30%;
}
#cond{
	display: flex;
	align-items: center;
	height: 68%;
	
	margin-left: 40%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}
	#arrosage_conditionnel{
		
		font-size:8px;
	}
	
	#pac{
		
		font-size:8px;
	}
	
	
	
	
	
}


@media all and (max-width: 1100px)

{
	#arrosage_instantane{
		
		font-size:13px;
	}
#arrosage_conditionnel{
		
		font-size:10px;
	}
	
	#pac{
		
		font-size:10px;
	}
	

body{
	
	background-size: cover;
	background-image: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -999;
	position: fixed;
}
#cond{
	display: flex;
	align-items: center;
	height: 73%;
	margin-left: 20%;
	height:60%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}

#valider{
	width: 35%;
	height: 8%;
	margin-top: -5%;
	margin-left:70%;
	border-color: 000000;
	border-width: 0.2px;
}




}


@media all and (max-width: 360px)

{
	

#cond{
	float:left;
	display: flex;
	align-items: center;
	height: 73%;
	margin-left: 42%;
	height:60%;
	width: 20%;
	margin-top: 7%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}

#valider{
	width: 35%;
	height: 8%;
	margin-top: -5%;
	margin-left:70%;
	border-color: 000000;
	border-width: 0.2px;
}

#instant{
	
	float:left;
}



}


@media all and (min-height: 1000px ){
	
	
	#instant{
	margin-top:20%;
	margin-left:30%;
}
#cond{
	
	align-items: center;
	height: 35%;

	width: 20%;
	
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}
	#arrosage_conditionnel{
		margin-bottom:-10%;
		font-size:15px;
	}
	
	#pac{
		
		font-size:15px;
	}
	
	
	
	
}


@media all and (min-height: 1024px ){
	
	
	#instant{
	margin-top:60%;
	margin-left:30%;
}
#cond{
	
	align-items: center;
	height: 55%;
	margin-top:auto;
	margin-left: auto;
	margin-bottom:auto;
	margin-right: auto;
	position:center;
	width: 20%;
	
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	
}
	#arrosage_conditionnel{
		margin-bottom:0%;
		font-size:15px;
	}
	
	#pac{
		
		font-size:15px;
	}
	
	
	
	
}
