
body{
	background-color: yellow;
	width: 100%;
	height: 89%;
	min-height: 89%;
	z-index: -999;
}

#containerglobal{
	height: 100%;
	width: auto;
	background-color:white;
	
}

#glob{
	padding-top: 15%;
	width: auto;
	height: auto;
	min-height: 100%;
	background: url("../img/bleu.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: fixed;
	z-index: -1;

 }
	
	
	
#instant{
	position: fixed;
	width:270px;
	margin-top: 0%;
	margin-left:370px;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
	height:320px;
}

#arrosage_instantane{
	margin-top:30px;
	font-size:20px;
}
	
#arroser{
	height:30px;
	border-color:000000;
	border-width:0.2px;
}

#cond{
	position: fixed;
	margin-left:700px;
	width:700px;
	margin-top: 0%;
	background-color:white;
	border-color:#32CD32;
	border-width:2px;
}



#arrosage_conditionnel{
	font-size:20px;
	
	margin-bottom:-150px;
	margin-top:78px;
	
}



#pac{
	font-size: 20px;
	margin-left: 350px;
	font-family: "Calibri";
	
	
}

#valider{
	width:100px;
	height:50px;
	border-color:000000;
	border-width:0.2px;
}

select{
	color:#228B22;
}

h2{
	font-family:"Montserrat", Gadget, sans-serif;
	text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);	
}

#planteG{
	background: url('img/plante_settings.png');
	float: left;
	margin-left:-150px;
	margin-top:-240px;
}

#planteD{
	right: 0;
	top: 0;
	right: 30px;
	position: relative;
	
}
	
label{
	font-family:Garamond, serif;
}

h3{
	font-family:'MS Sans Serif', Geneva, sans-serif;
	background: -webkit-linear-gradient(#5b5b5c, #181818);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p{
	font-family:Garamond, serif;
}