

footer{
	margin-top: 15%;
    background-color: #191919;
    position: absolute;
    left: 0;
    right: 0;
    height: 10%;
    z-index: 999;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(0);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2), 20px 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: all 2.5s ease;
}

footer a{
    text-decoration: none;
    font-family: Calibri;
    color: white;
}

footer a:hover{
    color: #FE3838;
    transition-duration: 0.5s;
}


#copyright{
    text-align: center;
    margin-right: 30px;
    margin-top: 21.5px;
    font-size: 18px;
}