

#container {
	top:0;
	left:0;
	height: 15%;
	width: 100%;
	max-width: 100%;
	border-bottom: 7px solid blue;
	position: fixed;
	background-color: #EEEEEE;
	opacity: 0.8;
	transition: 1s;
	margin-bottom: 0%;
	z-index: 300;
}

#container:hover{
	opacity: 0.95;
	background-color: #b0daa2;
}


#headerarea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
    z-index: 300;
    display: flex;
	flex-flow: row wrap;
}

body{
	max-width: 100%;
	margin: 0;
	padding: 0;
}


#container #headerarea {
	align-items: center;
}

#logo {
    margin-left: 5%;
	margin-top: -40px;
}
 
#search{
	margin-left: 2%;
	margin-top:-20px;
	
}
#searchtext{
	width:450px;
	height:40px;
	
}

.block{
	height: 20px;
	color:#228B22;
}

	

input{
	color:#228B22;
}


#menu{
	margin-left: 15%;
    background: none;
	margin-bottom: 80px;
  
	
	
}

#menu-links{
	list-style: none;
	display: flex;
}


a{
	
	
}
	
li {
	display: inline-block;
	font: 500 14px/30px 'poppins', sans-serif;
	color: #454545;
	text-transform: uppercase;
	font-weight: bold;
	height: 14px;
	
}

ul li a{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    margin: 0px 5px 0px 5px;
	
}


ul li a:hover, 
ul li a:focus{
    background: rgba(113,186,44,1);
	transition:all .5s ease;
} 


ul li a:active{
    background: linear-gradient(rgba(192,192,192,0.3),rgba(192,192,192,0.3)); 
    box-shadow: 0 0 2px rgba(192,192,192,0.3) inset;
}


ul li:hover a{
	color: #FFFFFF;
	
}



#containerbarre{
	width:8px;
	padding-top:100px;
	margin-left:-10px;
}

#vertical a {
	background-color: #006633; 
	color: black;
	display: block;
	text-decoration: none; 
	height: 150px;
}

#vertical a:hover {
	background-color: #ccc; 
}

#vertical a.active {
	color: black;
}

#boutonsearch{
	margin-bottom:-16px;
	margin-left:-5px;
	margin-top:-25px;
	width:40px;
	height:39px;
}



