
body{
	padding-top: 15%;
	background-color: #389b35;
	background: url('http://tpe-synchrotron-soleil.e-monsite.com/medias/files/foret-tropicale.jpg');
	width: 100%;
}


@keyframes LE_FUTUR{
	
}

div#global{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

div#cadre{
	border: groove 5px red;
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	margin: 0px 0px 0% 5%;
	-moz-border-radius-topleft: 27px;
	-moz-border-radius-topright:27px;
	-moz-border-radius-bottomleft:26px;
	-moz-border-radius-bottomright:26px;
	-webkit-border-top-left-radius:27px;
	-webkit-border-top-right-radius:27px;
	-webkit-border-bottom-left-radius:26px;
	-webkit-border-bottom-right-radius:26px;
	border-radius: 30px;
	
}

div#cadre#img{
}

