
body{
	padding-top: 7%;
	background-color: #389b35;
	width: 100%;
	height: 100%;
	position: fixed;
}


@keyframes LE_FUTUR{
	
}

div#global{
	overflow: auto;
	margin-top: 0%;
	height: 100%;
	max-height: 100%;
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: url('https://media.giphy.com/media/1lRrsraIsEYRW/giphy.gif') no-repeat center center fixed;
	background-image: cover;
	background-size: cover;
	z-index: -5;
}

div#cadre{
	border: groove 5px red;
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	margin: 0px 5% 20% 5%;
	-moz-border-radius-topleft: 27px;
	-moz-border-radius-topright:27px;
	-moz-border-radius-bottomleft:26px;
	-moz-border-radius-bottomright:26px;
	-webkit-border-top-left-radius:27px;
	-webkit-border-top-right-radius:27px;
	-webkit-border-bottom-left-radius:26px;
	-webkit-border-bottom-right-radius:26px;
	border-radius: 30px;
	
}

div#cadre#img{
}

